@import "tailwindcss";

@theme {
    --color-dark: #000000;
    --color-hyperblue: #0571d3;
    --color-graphite: #202020;
    --color-neongreen: #68c86a;
    --color-mediumblue: #1e4a96;
    --color-vividgreen: #26e44f;
    --color-slatecore: #d9d9d9;
    --color-solaryellow: #ffde59;
    --color-darkblue: #523fbd;
    --color-mintgreen: #cdffd8;
    --color-softblue: #94b9ff;
    --color-azure: #2febf7;
    --color-successGreen: #00c95133;
    --color-errorRed: #fb2c3640;

    /* temp colors */

    --color-g1: #292075;
    --color-g2: #0b1637;
}

:root {
    --color-dark: #000000;
    --color-hyperblue: #0571d3;
    --color-graphite: #202020;
    --color-neongreen: #68c86a;
    --color-mediumblue: #1e4a96;
    --color-vividgreen: #7ed957;
    --color-slatecore: #d9d9d9;
    --color-solaryellow: #ffde59;
    --color-darkblue: #523fbd;
    --color-mintgreen: #cdffd8;
    --color-softblue: #94b9ff;
    --color-azure: #51e5ce;
    --color-successGreen: #00c95133;
    --color-errorRed: #fb2c3640;

    /* temp colors */

    --color-g1: #292075;
    --color-g2: #0b1637;
}

* {
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth !important;
    scrollbar-gutter: stable overlay !important;
}

html {
    touch-action: pan-x pan-y;
    /* height: -webkit-fill-available !important; */
}

body {
    /* height: -webkit-fill-available !important; */
    background-color: #0b1637 !important;
}